.top-contents{
  width: 100vw;
  height: 50vh;
  object-fit: cover;
}

// -----header--------
.top-page-logos{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// -------ボタン---------
.button-lists{
  display: flex;
  justify-content: space-around;
  align-items: center;
  
 li{
  border-radius: 2;
  border: 2px solid #ed0bc7 ;
  text-decoration: none;
 }

}




.top-pict{
  width: 100%;
  height: 100%;
}


