// ---------header-------------

header{
  width: 100vw;
  height: 10vh;
  background-color: skyblue;
}

.header-logos{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


// ---------支出入力フォーム-------------
.input-title{
  font-size: 30px;
}


.input-detail{
  margin: auto;
  width: 90vw;
 

}

.date-content{
  display: flex;
}
.way-content{
  display: flex;
}
.price-content{
  display: flex;
}
.description-content{
  display: flex;
}


.select-box{
  width: 30%;
  height: 40px;
  margin: 10px;
  font-size: 30px;
}
.date-input{
  width: 30%;
  height: 40px;
  margin: 10px;
  font-size: 30px;
}
.price-input{
  width: 30%;
  height: 40px;
  margin: 10px;
  font-size: 30px;
}
.items-text{
  width: 30%;
  height: 40px;
  margin: 10px;
  font-size: 30px;
}


.input-text{
  font-size: 30px;
  margin-right: 10px;
}

// ---------一覧フォーム-------------//