// ---------header-------------

header{
  width: 100vw;
  height: 10vh;
  background-color: skyblue;
}

.header-logos{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


// ---------支出入力フォーム-------------
.input-title{
  font-size: 30px;
}


.input-detail{
  align-items: center;
}

.date-content{
  display: flex;
}

.way-content{
  display: flex;
}

.price-content{
  display: flex;
}

.description-text{
  display: flex;
}