.form-wrap{
  font-family: 'Zen Maru Gothic', sans-serif; 
  background-color: #ECEADA;
}

.form-header-text{
  font-size: 50px;
}

.form-text-wrap{
  font-size: 40px;
}

.login-btn {
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
}

.login-red-btn {
  width: 100%;
  background: #EBDCB2;
  border: 1px solid #EBDCB2;
  color: #662E1C;
  line-height: 48px;
  font-size: 40px;
  cursor: pointer;
}

.login-flash-message {
  text-align: center;
  color: red;
}