.registration-main {
  width: 100%;
  min-width: 800px;
  height: 100%;
  background-color: #c7d8c6;
  display: flex;
  justify-content: center;
}

/* form-wrapはログイン画面でも使用しています */
.form-wrap {
  width: 50%;
  background-color: #efd9c1;
  padding-bottom: 70px;
}

.form-header {
  width: 100%;
  height: 120px;
  text-align: center;
  font-size: 22px;
}

.form-header-text {
  line-height: 100px;
  border-bottom: 4px solid #f5f5f5;
  font-weight: bold;
}

.form-group {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 5px;
}

.form-group:first-child {
  padding: 0;
}

.form-text-wrap {
  width: 100%;
  height: 20%;
}

.form-text {
  font-size: 20px;
  font-weight: bold;
}

.input-default {
  width: 100%;
  margin-top: 5px;
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 25px;
  resize: none;
}

.info-text {
  color: #888;
  font-size: 13px;
  margin-top: 3px;
}

.form-info-header {
  font-weight: bold;
}

.form-info-text {
  font-size: 25px;
}

.indispensable {
  background: #ea352d;
  margin-left: 8px;
  padding: 3px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}


/* .field_with_errors {
  display: contents;
} */

.register-btn {
  width: 50%;
  margin: 0 auto;
  margin-top: 15px;
}

.register-red-btn {
  width: 100%;
  background: #efd9c1;
  border: 1px solid #490202;
  color: #490202;
  line-height: 48px;
  font-size: 30px;
  cursor: pointer;
  letter-spacing: 10px;
}
